/* .jqx-combobox-content {
    width: 100% !important;
}

.jqx-combobox-content input {
    width: 100% !important;
}

.jqx-combobox-input {
    width: 100% !important;
}

#myContent {
    color: red;
}

.jqx-combobox input[type='textarea'] {
   width: 100% !important;
}

input.jqx-combobox-input.jqx-widget-content.jqx-rc-all {
    width: 100% !important;
} */